*,
*::before,
*::after {outline:none; box-sizing:border-box}

html {min-width:360px}

body {min-width:360px; margin:0; padding:0; font:300 18px/31px Nexa, sans-serif; color:#000; background:#fff; -webkit-text-size-adjust:100%; -webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale; overflow-anchor:none}

a {color:#000; text-decoration:underline; transition:color 0.2s}
@media (min-width:768px) {
    a:hover {color:#6669ab}
}

img {border:none; max-width:100%; height:auto}
iframe {border:none; max-width:100%}

::-ms-clear {display:none}

strong, b {font-weight:bold}

h1 {font-weight:900; font-size:80px; line-height:90px; margin:56px 0 28px 0; padding:0; letter-spacing:-0.02em}
h2 {font-weight:bold; font-size:60px; line-height:54px; margin:56px 0 28px 0; padding:0; letter-spacing:-0.02em}
h3 {font-weight:bold; font-size:50px; line-height:50px; margin:56px 0 28px 0; padding:0; letter-spacing:-0.02em; color:#6669ab}
h4 {font-weight:bold; font-size:36px; line-height:43px; margin:56px 0 28px 0; padding:0; letter-spacing:-0.02em; color:#121212}
h5 {font-weight:bold; font-size:30px; line-height:36px; margin:56px 0 28px 0; padding:0; letter-spacing:-0.02em}
p {margin:15px 0; padding:0}
ul {margin:15px 0; padding:0; list-style:none}
ul li {margin:15px 0; padding:0 0 0 66px; position:relative}
ul li::before {content:""; display:block; width:22px; height:25px; background:url(../images/li.svg) no-repeat; position:absolute; left:0; top:2px}

.wrapper table {width:100%; margin:40px 0; border-collapse:collapse}
.wrapper th {border:none; color:#000; text-align:left; font-weight:bold; font-size:14px; line-height:14px; vertical-align:bottom; padding:0 0 18px 30px; position:relative}
.wrapper th:first-child {padding-left:0}
.wrapper td {vertical-align:top; padding:20px 0 20px 30px; border-bottom:1px solid #ededed; font-size:14px; line-height:18px}
.wrapper tr:first-child td {border-top:1px solid #000}
.wrapper td:first-child {padding-left:0}

.btn {display:inline-block; vertical-align:top; margin:0; padding:0 30px; overflow:visible; outline:none; text-decoration:none; background:#000; color:#fff; border:none; border-radius:0; font:bold 24px/65px Nexa, sans-serif; letter-spacing:0; text-transform:none; text-align:center; position:relative; -webkit-appearance:none; cursor:pointer; transition:all 0.2s; box-sizing:border-box}
@media (min-width:768px) {
    .btn:hover {color:#fff; background:#6669ab}
}

.pager {margin:101px 0 0 0; text-align:center; font-weight:normal; font-size:30px; line-height:64px; position:relative}
.pager a {margin:0 20px; color:#121212; text-decoration:none}
@media (min-width:768px) {
    .pager a:hover {color:#6669ab}
}
.pager span {margin:0 20px; color:#6669ab}
.pager em {font-style:none}
.pager .pager-prev,
.pager .pager-next {display:block; position:absolute; z-index:2; top:0; width:64px; height:64px; border:none; border-radius:0; margin:0; padding:0; outline:none; -webkit-appearance:none; cursor:pointer; background:none}
.pager .pager-prev {left:0}
.pager .pager-next {right:0}
.pager .pager-prev svg,
.pager .pager-next svg {display:block; width:64px; height:64px; fill:none; stroke:#000; transition:stroke 0.2s}
@media (min-width:768px) {
    .pager .pager-prev:hover svg,
    .pager .pager-next:hover svg {stroke:#6669ab}
}

.form-input {position:relative; margin:64px 0 0 0}
.form-input input,
.form-input textarea {position:relative; border:none; border-bottom:1px solid #000; font:bold 20px/30px Nexa, sans-serif; letter-spacing:-0.04em; color:#000; vertical-align:top; margin:0; padding:5px 0; width:100%; height:41px; box-sizing:border-box; outline:none; border-radius:0; background:transparent; -webkit-appearance:none; transition:border-color 0.2s}
.form-input input::-webkit-input-placeholder {opacity:1; color:#000; font-weight:normal}
.form-input input::-moz-placeholder {opacity:1; color:#000; font-weight:normal}
.form-input input:-ms-input-placeholder {opacity:1; color:#000; font-weight:normal}
.form-input textarea::-webkit-input-placeholder {opacity:1; color:#000; font-weight:normal}
.form-input textarea::-moz-placeholder {opacity:1; color:#000; font-weight:normal}
.form-input textarea:-ms-input-placeholder {opacity:1; color:#000; font-weight:normal}
.form-input textarea {resize:none; overflow:auto}
.form-input input.error,
.form-input textarea.error {border-color:#ff0400}
label.error {position:absolute; left:0; top:100%; margin-top:9px; display:block; font-size:16px; line-height:24px; color:#f00; font-weight:normal; letter-spacing:-0.04em}

.container {max-width:1130px; margin:0 auto; padding:0 10px}
.container::after {content:""; display:block; clear:both}

@media (max-width:767px) {
    .container {padding:0 18px}
}

.wrapper {width:100%; min-width:360px; position:relative; overflow:hidden; padding:110px 0 0 0}

header {position:fixed; left:0; top:0; right:0; height:110px; background:#fff; z-index:100}

.logo {float:left; margin:42px 0 0 0}
.logo svg {display:block; width:160px; height:28px}

.nav {float:left; margin:0 0 0 74px}
.nav ul {margin:0; padding:0; list-style:none; font-size:18px; line-height:27px; font-weight:bold; white-space:nowrap}
.nav ul li {float:left; margin:0 0 0 28px; padding:0; position:static}
.nav ul li:first-child {margin:0}
.nav ul li::before {display:none}
.nav ul li a {display:block; color:#1b1b1b; text-decoration:none; padding:42px 0 41px 0}
@media (min-width:768px) {
    .nav ul li:hover a {color:#6669ab}
}
.nav ul li a span {display:inline-block; vertical-align:top; margin:-1px -14px 0 3px; font-size:10px; line-height:15px; color:#665fb7}
.nav-sub {display:none; position:absolute; left:0; top:100%; right:0; background:#fff; box-shadow:15px 10px 35px rgba(217, 217, 227, 0.5); padding:37px 0 118px 0}
@media (min-width:768px) {
    .nav ul li:hover .nav-sub {display:block}
}

.nav .nav-sub ul {font-size:30px; line-height:24px; white-space:normal; column-count:5}
.nav .nav-sub ul li {float:none; margin:0; padding:31px 0 0 0; break-inside:avoid}
.nav .nav-sub ul li a {position:relative; padding:0 12px 0 29px; display:inline-block}
@media (min-width:768px) {
    .nav .nav-sub ul li a:hover {color:#fff !important}
}
.nav .nav-sub ul li a em {display:block; position:absolute; left:0; top:50%; width:8px; height:21px; margin-top:-11px; transition:height 0.2s, margin-top 0.2s, width 0.2s}
@media (min-width:768px) {
    .nav .nav-sub ul li a:hover em {width:100%; height:35px; margin-top:-17.5px}
}
.nav .nav-sub ul li a strong {font-weight:bold; position:relative}

.header-feedback {float:right; margin:30px 0 0 0; display:block; width:50px; height:50px; background:#6669ab; border-radius:50%; line-height:0; padding:15px 0 0 0}
.header-feedback svg {display:block; width:24px; height:19px; margin:0 auto; fill:none}

.header-phone {float:right; margin:44px 28px 0 0; font-weight:900; color:#1b1b1b; text-decoration:none; font-size:16px; line-height:24px}
@media (min-width:768px) {
    .header-phone:hover {color:#6669ab}
}

.slider {position:relative}
.slider-list {position:relative; font-size:0; line-height:0; letter-spacing:-1px; white-space:nowrap}
.slider-item {display:inline-block; vertical-align:top; width:100%; white-space:normal; background:#fff; position:relative}
.slider-item-content {height:700px; position:relative}
.slider-item-content a {display:block; color:#000; text-decoration:none; height:700px}
.slider-item-img {position:absolute; left:188px; top:0; bottom:0; right:-999px}
.slider-item-img img {display:block; position:absolute; left:0; bottom:0; max-width:none; max-height:100%}
.slider-item-title {position:relative; padding:137px 0 0 0; font-weight:900; font-size:200px; line-height:160px; letter-spacing:-0.05em}
.slider-item-title-inner {display:inline-block; position:relative}
.slider-item-title-inner span {display:block; font:italic 24px/31px RoyalTheatreSans, sans-serif; position:absolute; right:0; top:8px; letter-spacing:0}
.slider-item-link {position:relative; margin:40px 0 0 0; width:70px; height:70px; border:1px solid #000; border-radius:50%; transition:border-color 0.2s, background-color 0.2s}
.slider-item-link svg {display:block; width:24px; height:24px; position:absolute; left:50%; top:50%; margin:-12px 0 0 -12px; fill:none; stroke:#000; transition:stroke 0.2s}
@media (min-width:768px) {
    .slider-item-content a:hover .slider-item-link {border-color:#6669ab; background-color:#6669ab}
    .slider-item-content a:hover .slider-item-link svg {stroke:#fff}
}
.slider-list .slick-prev,
.slider-list .slick-next {display:block; position:absolute; z-index:2; left:50%; bottom:65px; width:94px; height:94px; border:none; border-radius:0; margin:0; padding:15px; outline:none; -webkit-appearance:none; cursor:pointer; background:none}
.slider-list .slick-prev {margin-left:-570px}
.slider-list .slick-next {margin-left:-476px}
.slider-list .slick-prev svg,
.slider-list .slick-next svg {display:block; width:64px; height:64px; fill:none; stroke:#000; transition:stroke 0.2s}
@media (min-width:768px) {
    .slider-list .slick-prev:hover svg,
    .slider-list .slick-next:hover svg {stroke:#6669ab}
}

.axyforma {margin:107px 0 0 0}
.axyforma-title {font-weight:bold; font-size:80px; line-height:72px; letter-spacing:-0.02em}
.axyforma-clients {margin:43px 0 0 0; border-top:1px solid #000; border-bottom:1px solid #000; padding:48px 0 40px 0}
.axyforma-clients::after {content:""; display:block; clear:both}
.axyforma-clients-title {float:left; width:160px; padding:26px 0 0 0; font:italic 30px/33px RoyalTheatreSans, sans-serif}
.axyforma-clients-container {float:right; width:calc(100% - 190px)}
.axyforma-clients-list {font-size:0; line-height:0; letter-spacing:-1px; white-space:nowrap; position:relative; overflow:hidden}
.axyforma-clients-list.slick-initialized {overflow:visible}
.axyforma-clients-item {display:inline-block; vertical-align:top; width:20%}
.axyforma-clients-item-inner {height:152px; padding:5px; text-align:center; line-height:142px}
.axyforma-clients-item-inner a {display:block; height:142px}
.axyforma-clients-item-inner img {max-height:100%; display:inline-block; vertical-align:middle}
.axyforma-clients-item-inner a img {-webkit-filter:grayscale(100%); -moz-filter:grayscale(100%); -ms-filter:grayscale(100%); -o-filter:grayscale(100%); filter:grayscale(100%); filter:gray; transition:all 0.2s}
@media (min-width:768px) {
    .axyforma-clients-item-inner a:hover img {-webkit-filter:none; -moz-filter:none; -ms-filter:none; -o-filter:none; filter:none}
}
.axyforma-clients-list .slick-prev,
.axyforma-clients-list .slick-next {display:block; position:absolute; z-index:2; top:-165px; width:94px; height:94px; border:none; border-radius:0; margin:0; padding:15px; outline:none; -webkit-appearance:none; cursor:pointer; background:none}
.axyforma-clients-list .slick-prev {right:79px}
.axyforma-clients-list .slick-next {right:-15px}
.axyforma-clients-list .slick-prev svg,
.axyforma-clients-list .slick-next svg {display:block; width:64px; height:64px; fill:none; stroke:#000; transition:stroke 0.2s}
@media (min-width:768px) {
    .axyforma-clients-list .slick-prev:hover svg,
    .axyforma-clients-list .slick-next:hover svg {stroke:#6669ab}
}

.main-complex {margin:79px 0 339px 0}
.main-complex-title {font:300 italic 50px/50px RoyalTheatreSans, sans-serif; color:#121212; max-width:635px}
.main-complex-content {margin:76px 0 0 0; padding:0 0 0 285px; position:relative}
.main-complex-content::before {content:""; display:block; width:190px; height:1px; position:absolute; left:0; top:22px; background:#000}
.main-complex-content::after {content:""; display:block; clear:both}
.main-complex-col {float:left; width:350px; position:relative}
.main-complex-col+.main-complex-col {float:right; margin:217px 0 0 0}
.main-complex-col h4 {margin-top:0}
.main-complex-col > *:first-child {margin-top:0}
.main-complex-col > *:last-child {margin-bottom:0}

.main-complex-col-photo-1 {position:absolute; left:0; top:152px; width:190px; line-height:0}
.main-complex-col-photo-1::before {content:""; display:block; position:absolute; left:-170px; top:-94px; width:300px; height:322px; background:url(../images/main-complex-photo-1.svg) no-repeat}
.main-complex-col-photo-1 img {display:block; position:relative}
.main-complex-col-photo-2 {position:absolute; left:0; bottom:-441px; width:349px; line-height:0}
.main-complex-col-photo-2::before {content:""; display:block; position:absolute; left:-66px; top:32px; width:336px; height:335px; background:url(../images/main-complex-photo-2.svg) no-repeat}
.main-complex-col-photo-2 img {display:block; position:relative}
.main-complex-col-photo-3 {position:absolute; left:0; top:-423px; width:351px; line-height:0}
.main-complex-col-photo-3::before {content:""; display:block; position:absolute; left:0; top:0; width:351px; height:350px; background:url(../images/main-complex-photo-3.svg) no-repeat}
.main-complex-col-photo-3 img {display:block; position:relative; border-radius:50%}

.main-production-photo {line-height:0; position:relative}
.main-production-photo img {display:block; width:100%}
.main-production-title {position:relative; margin:-180px 0 0 0; width:730px; background:#fff; padding:112px 0 0 0; font-weight:bold; font-size:80px; line-height:72px; letter-spacing:-0.02em}
.main-production-anonce {margin:56px 0 0 0; max-width:620px; font:300 italic 50px/50px RoyalTheatreSans, sans-serif; color:#121212}
.main-production-content {margin:49px 0 0 0; padding:0 0 0 285px; position:relative}
.main-production-content::before {content:""; display:block; width:190px; height:1px; position:absolute; left:0; top:22px; background:#000}
.main-production-content::after {content:""; display:block; clear:both}
.main-production-col {float:left; width:350px; position:relative}
.main-production-col+.main-production-col {float:right; margin:213px 0 0 0}
.main-production-col h4 {margin-top:0}
.main-production-col > *:first-child {margin-top:0}
.main-production-col > *:last-child {margin-bottom:0}

.main-production-col-photo-1 {position:absolute; left:0; bottom:-355px; width:381px; line-height:0}
.main-production-col-photo-1::before {content:""; display:block; position:absolute; left:-65px; top:14px; width:397px; height:383px; background:url(../images/main-production-photo-1.svg) no-repeat}
.main-production-col-photo-1 img {display:block; position:relative}
.main-production-col-photo-2 {position:absolute; left:0; top:-344px; width:196px; line-height:0}
.main-production-col-photo-2::before {content:""; display:block; position:absolute; left:-38px; top:-24px; width:351px; height:334px; background:url(../images/main-production-photo-2.svg) no-repeat}
.main-production-col-photo-2 img {display:block; position:relative}

.main-lines {position:relative; margin:184px 0 0 0}
.main-lines::before {content:""; display:block; width:190px; height:1px; position:absolute; left:0; top:14px; background:#000}

.main-lines-more {margin:22px 0 0 385px}
.main-lines-more::after {content:""; display:block; clear:both}
.main-lines-more a {float:left; text-decoration:none; color:#121212}
@media (min-width:768px) {
    .main-lines-more a:hover {color:#6669ab}
}
.main-lines-more-value {float:left; font-weight:normal; font-size:150px; line-height:120px; letter-spacing:-0.05em}
.main-lines-more-text {float:left; margin:57px 0 0 20px; font:300 italic 30px/30px RoyalTheatreSans, sans-serif; width:210px}
.main-lines-more-sep {float:left; width:1px; height:106px; margin:7px 0 0 0; background:#000; transition:background 0.2s}
@media (min-width:768px) {
    .main-lines-more a:hover .main-lines-more-sep {background:#6669ab}
}
.main-lines-more-arrow {float:left; margin:68px 0 0 51px}
.main-lines-more-arrow svg {display:block; width:45px; height:45px; fill:none; stroke:#000; transition:stroke 0.2s}
@media (min-width:768px) {
    .main-lines-more a:hover .main-lines-more-arrow svg {stroke:#6669ab}
}

.main-projects {margin:126px 0 0 0}
.main-projects-title {font-weight:bold; font-size:70px; line-height:56px; letter-spacing:-0.05em; color:#121212}
.main-projects-wrapper {margin:47px -160px 0 -160px; font-size:0; line-height:0; letter-spacing:-1px; white-space:nowrap; position:relative; overflow:hidden}
.main-projects-list {position:relative; overflow:hidden}
.main-projects-item {display:inline-block; vertical-align:top; width:100%; white-space:normal}
.main-projects-item a {display:block; text-decoration:none; color:#121212}
@media (min-width:768px) {
    .main-projects-item a:hover {color:#6669ab}
}
.main-projects-item-photo {position:relative; height:750px}
.main-projects-item-photo-inner {position:absolute; left:0; top:0; right:0; bottom:0; background:no-repeat center; background-size:cover}
.main-projects-item-title {position:relative; margin:-50px 0 0 230px; background:#fff; padding:50px 545px 0 123px; font-weight:bold; font-size:40px; line-height:48px; letter-spacing:0}
.main-projects-item-link {position:relative; margin:19px 0 0 353px; width:70px; height:70px; border:1px solid #000; border-radius:50%; transition:border-color 0.2s, background-color 0.2s}
.main-projects-item-link svg {display:block; width:24px; height:24px; position:absolute; left:50%; top:50%; margin:-12px 0 0 -12px; fill:none; stroke:#000; transition:stroke 0.2s}
@media (min-width:768px) {
    .main-projects-item a:hover .main-projects-item-link {border-color:#6669ab; background-color:#6669ab}
    .main-projects-item a:hover .main-projects-item-link svg {stroke:#fff}
}
.main-projects-count {position:absolute; right:230px; top:769px; width:125px; text-align:center; font-weight:bold; font-size:24px; line-height:19px; letter-spacing:-0.05em}
.main-projects-list .slick-prev,
.main-projects-list .slick-next {display:block; position:absolute; z-index:2; top:734px; width:94px; height:94px; border:none; border-radius:0; margin:0; padding:15px; outline:none; -webkit-appearance:none; cursor:pointer; background:none}
.main-projects-list .slick-prev {right:345px}
.main-projects-list .slick-next {right:150px}
.main-projects-list .slick-prev svg,
.main-projects-list .slick-next svg {display:block; width:64px; height:64px; fill:none; stroke:#000; transition:stroke 0.2s}
@media (min-width:768px) {
    .main-projects-list .slick-prev:hover svg,
    .main-projects-list .slick-next:hover svg {stroke:#6669ab}
}

.main-partners {margin:104px 0 0 0}
.main-partners-title {margin:0 0 0 193px; max-width:370px; font:300 italic 50px/50px RoyalTheatreSans, sans-serif}
.main-partners-list {margin:40px calc(1130px / 2 - 100vw / 2) 0 calc(1130px / 2 - 100vw / 2); white-space:nowrap}
.main-partners-list-inner {position:relative; overflow:auto}
.main-partners-list .dealers {margin:0; display:inline-block; vertical-align:top}
.main-partners-list .dealers-item {padding:0; width:234px}
.main-partners-list .mCustomScrollBox {padding-right:0}
.main-partners-list .mCSB_horizontal.mCSB_inside > .mCSB_container {margin-bottom:0}
.main-partners-list .mCSB_scrollTools.mCSB_scrollTools_horizontal {opacity:0}

.breadcrumbs {font-size:14px; line-height:24px; font-weight:normal; position:relative}
.breadcrumbs a {text-decoration:none}

.lines-header {padding:23px 9999px 0 0; margin:0 -9999px 0 0; position:relative; overflow:hidden}
.lines-header::before {content:""; display:block; position:absolute; left:481px; top:0; bottom:0; right:0; background:#e8e9ff}
.lines-header::after {content:""; display:block; clear:both}
.lines-header-content {float:left; width:640px}
.lines-header h1 {margin:4px 0 0 0; position:relative}
.list-header-text {float:right; width:445px; padding:72px 0 138px 0; color:#121212; font:300 italic 45px/45px RoyalTheatreSans, sans-serif; position:relative}

.lines-groups {margin:-80px 0 0 0; position:relative; background:#fff; padding:30px 0 0 0; overflow:hidden}
.lines-groups ul {margin:0; padding:0; list-style:none; font-size:30px; line-height:35px; column-count:5; font-weight:bold; letter-spacing:-0.02em}
.lines-groups ul li {margin:0; padding:20px 0 0 0; break-inside:avoid}
.lines-groups ul li::before {display:none}
.lines-groups ul li a {position:relative; padding:0 12px 0 29px; display:inline-block; text-decoration:none}
@media (min-width:768px) {
    .lines-groups ul li a:hover {color:#fff !important}
}
.lines-groups ul li a em {display:block; position:absolute; left:0; top:0; bottom:0; width:8px; transition:width 0.2s}
@media (min-width:768px) {
    .lines-groups ul li a:hover em {width:100%}
}
.lines-groups ul li a strong {font-weight:bold; position:relative}

.lines-other-title {margin:47px 0 0 0; position:relative; padding:0 100px 0 374px; font:300 italic 50px/50px RoyalTheatreSans, sans-serif}
.lines-other-title::before {content:""; display:block; position:absolute; left:0; top:29px; width:350px; height:1px; background:#000}

.lines-item {display:table; width:100%; direction:rtl; text-decoration:none; color:#000}
.lines-item:nth-child(even) {direction:ltr}
@media (min-width:768px) {
    .lines-item:hover {color:#000; text-decoration:none}
}
.lines-item-preview {display:table-cell; vertical-align:middle; width:725px; height:400px; position:relative; direction:ltr}
.lines-item-preview-bg {display:block; position:absolute; left:0; top:50%; width:9999px; height:400px; margin-top:-200px}
.lines-item:nth-child(even) .lines-item-preview-bg {left:auto; right:0}
.lines-item-preview-img {position:relative; width:725px; margin:0 0 0 -63px}
.lines-item-preview-img::after {content:""; display:block; clear:both}
.lines-item:nth-child(even) .lines-item-preview-img {margin:0 -63px 0 0}
.lines-item-preview img {display:block; position:relative; max-width:none; float:left}
.lines-item:nth-child(even) .lines-item-preview-img img {float:right}
.lines-item-content {display:table-cell; vertical-align:middle; width:385px; padding:0 95px 0 0; direction:ltr}
.lines-item:nth-child(even) .lines-item-content {padding:0 0 0 95px}
.lines-item-title {font-weight:900; font-size:80px; line-height:64px; letter-spacing:-0.05em; position:relative}
.lines-item-title span {position:relative; transition:opacity 0.2s}
.lines-item-title span:nth-child(2) {position:absolute; left:0; top:0; opacity:0}
@media (min-width:768px) {
    .lines-item:hover .lines-item-title span:nth-child(1) {opacity:0}
    .lines-item:hover .lines-item-title span:nth-child(2) {opacity:1}
}
.lines-item-subtitle {margin:5px 0 0 0; font:italic 22px/26px RoyalTheatreSans, sans-serif; position:relative}
.lines-item-subtitle span {position:relative; transition:opacity 0.2s}
.lines-item-subtitle span:nth-child(2) {position:absolute; left:0; top:0; opacity:0}
@media (min-width:768px) {
    .lines-item:hover .lines-item-subtitle span:nth-child(1) {opacity:0}
    .lines-item:hover .lines-item-subtitle span:nth-child(2) {opacity:1}
}
.lines-item-text {margin:36px 0 0 0}
.lines-item-zoom {position:relative; margin:10px 0 0 0}
.lines-item-zoom span {display:block; width:70px; height:70px; border:1px solid #000; border-radius:50%; transition:opacity 0.2s; position:relative}
.lines-item-zoom span:nth-child(2) {position:absolute; left:0; top:0; opacity:0}
@media (min-width:768px) {
    .lines-item:hover .lines-item-zoom span:nth-child(1) {opacity:0}
    .lines-item:hover .lines-item-zoom span:nth-child(2) {opacity:1}
}
.lines-item-zoom span svg {display:block; width:24px; height:24px; position:absolute; left:50%; top:50%; margin:-12px 0 0 -12px; fill:none; stroke:#000; transition:stroke 0.2s}
@media (min-width:768px) {
    .lines-item:hover .lines-item-zoom span svg {stroke:#fff}
}

.lines-other {font-size:0; line-height:0; letter-spacing:-1px; margin:0 -15px}
.lines-other-item {display:inline-block; vertical-align:top; width:50%; padding:60px 15px 0 15px; font-size:18px; line-height:31px; letter-spacing:0}
.lines-other .lines-item {display:block; width:auto; direction:ltr}
.lines-other .lines-item-preview {display:block; width:auto; height:309px; text-align:center}
.lines-other .lines-item-preview-bg {width:auto; right:0; height:250px; margin-top:-125px; line-height:250px}
.lines-other .lines-item-preview-img {width:auto; margin:0}
.lines-other .lines-item-preview-img img {max-width:100%; max-height:100%; float:none; display:inline-block; vertical-align:middle}
.lines-other .lines-item:nth-child(even) .lines-item-preview-img img {float:none}
.lines-other .lines-item:nth-child(even) .lines-item-preview-img {width:auto; margin:0}
.lines-other .lines-item-content {display:block; width:auto; padding:0}
.lines-other .lines-item:nth-child(even) .lines-item-content {padding:0}
.lines-other .lines-item-title {margin:3px 0 0 0; font-size:50px; line-height:40px}
.lines-other .lines-item-subtitle {margin:4px 0 0 0; font-size:18px; line-height:22px}
.lines-other .lines-item-text {margin:17px 0 0 0; font-size:16px; line-height:24px}
.lines-other .lines-item-zoom {margin:24px 0 0 0}
.lines-other .lines-item-zoom span {width:55px; height:55px}
.lines-other .lines-item-zoom span svg {width:19px; height:19px; margin:-9.5px 0 0 -9.5px}

.line-header {position:relative; padding:0 0 0 285px}
.line-header-photo {margin:0 -9999px 0 0; line-height:0; position:relative}
.line-header-photo img {display:block; max-width:none}
.line-header-link {display:block; position:absolute; left:-25px; top:353px; width:50px; height:50px; border:1px solid #000; border-radius:50%; transition:border-color 0.2s, background-color 0.2s}
.line-header-link svg {display:block; width:18px; height:18px; position:absolute; left:50%; top:50%; margin:-9px 0 0 -9px; fill:none; stroke:#000; transition:stroke 0.2s}
@media (min-width:768px) {
    .line-header-link:hover {border-color:#6669ab; background-color:#6669ab}
    .line-header-link:hover svg {stroke:#fff}
}
.line-header-content {position:absolute; left:0; top:21px}
.line-header-content h1 {font-size:200px; line-height:160px; font-weight:900}
.line-header-text {margin:33px 0 0 0; font:italic 30px/30px RoyalTheatreSans, sans-serif}

.line-menu {position:relative; margin:0 -9999px; height:61px}
.line-menu-wrapper {border-bottom:1px solid #ededed; height:61px; background:#fff; position:relative}
.line-menu.fixed .line-menu-wrapper {position:fixed; left:0; right:0; top:110px; border-top:1px solid #ededed; height:62px; z-index:100}
.line-menu-wrapper ul {margin:0; padding:0; list-style:none; text-align:justify}
.line-menu-wrapper ul::after {content:""; display:inline-block; vertical-align:top; width:100%}
.line-menu-wrapper ul li {display:inline-block; vertical-align:top; margin:0; padding:0}
.line-menu-wrapper ul li::before {display:none}
.line-menu-wrapper ul li a {display:block; height:60px; font:italic 18px/60px RoyalTheatreSans, sans-serif; color:#000; text-decoration:none}
.line-menu-wrapper ul li a:hover,
.line-menu-wrapper ul li.active a {color:#6669ab}

.about-services.line-services {margin:40px 0 0 0}

.line-anonce {margin:83px 0 0 0; padding:0 0 0 285px; position:relative}
.line-anonce::before {content:""; display:block; position:absolute; left:0; top:29px; width:189px; height:1px; background:#000}
.line-anonce-title {font:300 italic 50px/50px RoyalTheatreSans, sans-serif; color:#121212}
.line-anonce-text {margin:31px 0 0 0; font-weight:normal; color:#665fb7; font-size:22px; line-height:35px}

.line-solutions {margin:90px 0 0 0}
.line-solution {display:table; width:100%; direction:ltr; margin:-50px 0 0 0}
.line-solution:nth-child(even) {direction:rtl}
.line-solution-photo {display:table-cell; vertical-align:middle; width:50%; height:400px; position:relative; direction:ltr; text-align:center}
.line-solution-photo-bg {display:block; position:absolute; left:0; top:50%; width:100%; height:400px; margin-top:-200px}
.line-solution:nth-child(even) .line-solution-photo-bg {left:auto; right:0}
.line-solution-photo-img {position:relative; width:100%}
.line-solution-photo-img::after {content:""; display:block; clear:both}
.line-solution-content {display:table-cell; vertical-align:middle; width:50%; padding:0 0 0 125px; direction:ltr}
.line-solution:nth-child(even) .line-solution-content {padding:0 125px 0 0}
.line-solution h3 {color:#000}
.line-solution-content > *:first-child {margin-top:0}
.line-solution-content > *:last-child {margin-bottom:0}

.line-compare {margin:127px 0 0 0}
.line-compare h2 {margin:0}
.line-compare-container {margin:45px 0 0 0; position:relative; padding:0 0 0 55px}
.line-compare-scale {position:absolute; left:0; top:0; width:51px; font-weight:bold; font-size:14px; line-height:17px; text-align:center}
.line-compare-scale-item {border-top:1px solid #000; height:50px; padding:6px 0 0 0; position:relative}
.line-compare-scale-item::before {content:""; display:block; position:absolute; left:55px; top:-1px; height:1px; width:9999px; background:#ededed}
.line-compare-scale-item:last-child {padding:15px 0 0 0}
.line-compare-list {margin:0 calc(1130px / 2 - 100vw / 2) 0 0; position:relative}
.line-compare-list-inner {position:relative; font-size:0; line-height:0; letter-spacing:-1px; white-space:nowrap}
.line-compare-list-content {display:inline-block; vertical-align:top; padding:0 11px 0 0}
.line-compare-list-item {display:inline-block; vertical-align:top; margin:0 0 0 11px; min-width:78px; text-align:center}
.line-compare-list-item-img {height:500px; line-height:500px}
.line-compare-list-item-img img {display:inline-block; vertical-align:bottom; max-height:500px; max-width:none}
.line-compare-list-item-title {margin:17px 0 0 0; font-weight:bold; font-size:14px; line-height:17px; letter-spacing:0; color:#121212}
.line-compare-list .mCSB_horizontal.mCSB_inside > .mCSB_container {margin-bottom:0}
.line-compare-list .mCSB_scrollTools.mCSB_scrollTools_horizontal {opacity:0}

.main-projects.line-projects {margin:134px 0 0 0}
.line-projects h2 {margin:0}
.line-projects .main-projects-wrapper {margin:43px calc(1130px / 2 - 100vw / 2) 0 0}
.line-projects .main-projects-item h4 {margin:-50px 0 0 190px; padding:50px calc(100vw / 2 - 1130px / 2 + 200px) 0 93px; position:relative; background:#fff; white-space:normal}
.line-projects .main-projects-item-link {position:relative; margin:20px 0 0 283px}
.line-projects .main-projects-list .slick-prev,
.line-projects .main-projects-list .slick-next {display:block; position:absolute; z-index:2; top:734px; width:94px; height:94px; border:none; border-radius:0; margin:0; padding:15px; outline:none; -webkit-appearance:none; cursor:pointer; background:none}
.line-projects .main-projects-list .slick-prev {right:auto; left:936px}
.line-projects .main-projects-list .slick-next {right:auto; left:1033px}
.line-environment-text {margin:18px 0 0 190px; padding:0 calc(100vw / 2 - 1130px / 2 + 200px) 0 93px; font-size:18px; line-height:31px; letter-spacing:0}

.line-content {margin:114px 0 0 0}
.line-content h2 {margin:0}
.line-content-list {margin:0 -15px; font-size:0; line-height:0; letter-spacing:-1px; position:relative}
.line-content-item {display:inline-block; vertical-align:top; width:25%; padding:45px 15px 0 15px; white-space:normal}
.line-content-item+.line-content-item+.line-content-item+.line-content-item+.line-content-item+.line-content-item+.line-content-item+.line-content-item+.line-content-item {display:none}
.line-content.open .line-content-item+.line-content-item+.line-content-item+.line-content-item+.line-content-item+.line-content-item+.line-content-item+.line-content-item+.line-content-item {display:inline-block}
.line-content-item-photo {height:300px; border-top:1px solid #ededed; border-bottom:1px solid #000; text-align:center; padding:39px 0; line-height:220px}
.line-content-item-photo img {display:inline-block; vertical-align:bottom; max-height:220px}
.line-content-item-title {margin:15px 0 0 0; font-weight:bold; font-size:20px; line-height:24px; letter-spacing:-0.02em}
.line-content-item-text {margin:6px 0 0 0; font-weight:normal; font-size:13px; line-height:17px; letter-spacing:0}
.line-content-more {display:none; margin:26px 0 0 0}
.line-content-more.visible {display:block}
.line-content-more a {display:inline-block; vertical-align:top; padding:0 0 0 89px; position:relative; height:70px; font-size:20px; line-height:70px; font-weight:bold; color:#6669ab; text-decoration:none}
.line-content-more a span:nth-child(2) {display:none}
.line-content.open .line-content-more a span:nth-child(1) {display:none}
.line-content.open .line-content-more a span:nth-child(2) {display:inline}
.line-content-more a em {display:block; position:absolute; left:0; top:0; width:70px; height:70px; border:1px solid #6669ab; border-radius:50%; transition:border-color 0.2s, background-color 0.2s}
.line-content-more a em svg {display:block; width:24px; height:24px; position:absolute; left:50%; top:50%; margin:-12px 0 0 -12px; fill:none; stroke:#6669ab; transition:stroke 0.2s}
.line-content.open .line-content-more a em::before {content:""; display:block; position:absolute; left:50%; top:50%; width:24px; height:1px; background:#6669ab; transition:background 0.2s; margin:-0.5px 0 0 -12px}
.line-content.open .line-content-more a em svg {display:none}
@media (min-width:768px) {
    .line-content-more a:hover em {border-color:#6669ab; background-color:#6669ab}
    .line-content-more a:hover em svg {stroke:#fff}
    .line-content.open .line-content-more a:hover em::before {background:#fff}
}

.line-tech {margin:144px 0 0 0}
.line-tech h2 {margin:0}
.line-tech-menu {margin:35px 0 0 0; font-size:0; line-height:0; letter-spacing:-1px}
.line-tech-menu ul {display:inline-block; vertical-align:top; margin:0; padding:0; list-style:none}
.line-tech-menu ul li {display:inline-block; vertical-align:top; margin:0 0 0 47px; padding:0}
.line-tech-menu ul li:first-child {margin:0}
.line-tech-menu ul li::before {display:none}
.line-tech-menu ul li a {font-weight:bold; font-size:30px; line-height:36px; letter-spacing:-0.02em; color:#6669ab; border-bottom:1px dashed #6669ab; transition:color 0.2s, border-color 0.2s; text-decoration:none}
.line-tech-menu ul li a:hover {border-bottom-color:transparent}
.line-tech-menu ul li.active a {color:#000; border-bottom-color:transparent}

.line-tech-tabs {margin:40px 0 0 0; position:relative}
.line-tech-tab {position:absolute; left:-9999px; top:-9999px; width:100%; opacity:0; transition:opacity 0.2s}
.line-tech-tab.active {position:relative; left:auto; top:auto; opacity:1}
.wrapper table td.line-tech-label {color:#6669ab; font-weight:bold; font-size:16px; line-height:21px}

.line-docs {margin:132px 0 0 0}
.line-docs h2 {margin:0}
.line-docs h3 {margin:0}

.line-docs-catalogue {margin:39px 0 0 0}
.line-docs-catalogue-list {margin:13px -15px 0 -15px; font-size:0; line-height:0; letter-spacing:-1px}
.line-docs-catalogue-item {display:inline-block; vertical-align:top; width:50%; padding:30px 15px 0 15px}
.line-docs-catalogue-item a {display:block; position:relative; text-decoration:none}
.line-docs-catalogue-item-preview img {display:block; width:100%}
.line-docs-catalogue-item-title {position:absolute; left:0; bottom:-7px; width:445px; padding:35px 192px 0 0; font-weight:bold; font-size:30px; line-height:36px; letter-spacing:-0.02em; background:#fff}
.line-docs-catalogue-item-title svg {display:block; width:49px; height:56px; fill:none; stroke:#000; position:absolute; right:65px; bottom:0; transition:stroke 0.2s}
@media (min-width:768px) {
    .line-docs-catalogue-item a:hover .line-docs-catalogue-item-title svg {stroke:#6669ab}
}

.line-docs-files {margin:92px 0 0 0}
.line-docs-files-list {margin:13px -15px 0 -15px; font-size:0; line-height:0; letter-spacing:-1px}
.line-docs-files-item {display:inline-block; vertical-align:top; width:25%; padding:30px 15px 0 15px}
.line-docs-files-item a {display:table; width:100%; text-decoration:none; font-weight:bold; font-size:24px; line-height:29px; letter-spacing:-0.02em}
@media (min-width:768px) {
    .line-docs-files-item a:hover {color:#fff}
}
.line-docs-files-item a span {display:table-cell; vertical-align:middle; padding:5px 5px 5px 93px; border:1px solid #000; position:relative; height:120px; transition:border-color 0.2s, background 0.2s}
@media (min-width:768px) {
    .line-docs-files-item a:hover span {border-color:#6669ab; background:#6669ab}
}
.line-docs-files-item a svg {display:block; width:49px; height:56px; fill:none; stroke:#000; position:absolute; left:30px; top:50%; margin-top:-28px; transition:stroke 0.2s}
@media (min-width:768px) {
    .line-docs-files-item a:hover svg {stroke:#fff}
}

.line-docs-serts {margin:88px 0 0 0}
.line-docs-serts-list {margin:41px 0 0 0; font-size:0; line-height:0; letter-spacing:-1px; white-space:nowrap; position:relative}
.line-docs-serts-list .slick-list {overflow:visible}
.line-docs-serts-item {display:inline-block; vertical-align:top; width:25%}
.line-docs-serts-item a {display:block; border:1px solid #000; border-left:none; height:400px; position:relative; padding:29px 0 0 0}
.line-docs-serts-list .slick-slide:first-child {border-left:1px solid #000}
.line-docs-serts-item a span {display:block; width:210px; height:300px; text-align:center; line-height:300px; margin:0 auto}
.line-docs-serts-item a span img {display:inline-block; vertical-align:middle; max-height:100%}
.line-docs-serts-item a svg {display:block; width:32px; height:32px; margin:18px auto 0 auto; fill:#000; stroke:#000; transition:fill 0.2s, stroke 0.2s}
@media (min-width:768px) {
    .line-docs-serts-item a:hover svg {fill:#6669ab; stroke:#6669ab}
}
.line-docs-serts-list .slick-prev,
.line-docs-serts-list .slick-next {display:block; position:absolute; z-index:2; top:-111px; width:94px; height:94px; border:none; border-radius:0; margin:0; padding:15px; outline:none; -webkit-appearance:none; cursor:pointer; background:none}
.line-docs-serts-list .slick-prev {right:79px}
.line-docs-serts-list .slick-next {right:-15px}
.line-docs-serts-list .slick-prev svg,
.line-docs-serts-list .slick-next svg {display:block; width:64px; height:64px; fill:none; stroke:#000; transition:stroke 0.2s}
@media (min-width:768px) {
    .line-docs-serts-list .slick-prev:hover svg,
    .line-docs-serts-list .slick-next:hover svg {stroke:#6669ab}
}

.line-docs-manual {margin:92px 0 0 0}
.line-docs-manual-content {margin:40px 0 0 0}
.line-docs-manual-content::after {content:""; display:block; clear:both}
.line-docs-manual-video {float:left; width:825px}
.line-docs-manual-video a {display:block; color:#fff; text-decoration:none; position:relative; overflow:hidden}
.line-docs-manual-video a img {display:block; width:100%}
.line-docs-manual-video a::before {content:""; display:block; position:absolute; left:0; bottom:0; right:0; height:232px; background:linear-gradient(0deg, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%)}
.line-docs-manual-video a span {display:block; position:absolute; left:63px; bottom:53px; right:328px; font-weight:bold; font-size:30px; line-height:36px; letter-spacing:-0.02em}
.line-docs-manual-video a svg {display:block; position:absolute; right:65px; bottom:60px; width:69px; height:80px; fill:rgba(255, 255, 255, 0); stroke:#fff; transition:stroke 0.2s, fill 0.2s}
@media (min-width:768px) {
    .line-docs-manual-video a:hover svg {stroke:#6669ab; fill:#6669ab}
}
.line-docs-manual-file {float:right; width:255px}
.line-docs-manual-file a {display:block; height:255px; text-decoration:none; font-weight:bold; font-size:24px; line-height:29px; letter-spacing:-0.02em; position:relative; border:1px solid #000; transition:color 0.2s, border-color 0.2s, background 0.2s}
@media (min-width:768px) {
    .line-docs-manual-file a:hover {color:#fff; border-color:#6669ab; background:#6669ab}
}
.line-docs-manual-file a span {display:block; position:absolute; left:39px; bottom:35px; right:39px}
.line-docs-manual-file a svg {display:block; width:49px; height:56px; fill:none; stroke:#000; position:absolute; left:40px; top:40px; transition:stroke 0.2s}
@media (min-width:768px) {
    .line-docs-manual-file a:hover svg {stroke:#fff}
}

.line-text {margin:131px 0 0 0}
.line-text h2 {margin:0}
.line-text-container {margin:49px 0 0 0; padding:0 0 0 285px; position:relative}
.line-text-container::before {content:""; display:block; position:absolute; left:0; top:22px; width:190px; height:1px; background:#000}
.line-text-container > *:first-child {margin-top:0}
.line-text-container > *:last-child {margin-bottom:0}

.projects-count {margin:71px 0 0 0; color:#121212; position:relative}
.projects-count::after {content:""; display:block; clear:both}
.projects-count-value {float:left; font-size:150px; line-height:120px; font-weight:bold; letter-spacing:-0.05em; padding:0 0 0 23px; position:relative}
.projects-count-value::before {content:""; display:block; position:absolute; left:0; top:50%; width:1px; height:106px; margin-top:-53px; background:#000}
.projects-count-text {float:left; font:300 italic 30px/30px RoyalTheatreSans, sans-serif; margin:57px 0 0 18px; width:240px}

.project-header h1 {font-size:70px; line-height:63px}

.projects {margin:0 -15px; font-size:0; line-height:0; letter-spacing:-1px}
.projects-item {display:inline-block; vertical-align:top; width:50%; padding:49px 15px 0 15px; position:relative}
.projects-item:nth-child(even) {top:-60px}
.projects-item a {display:block; text-decoration:none; color:#121212}
.projects-item-preview img {display:block; width:100%}
.projects-item-title {position:relative; margin:-60px 0 0 65px; background:#fff; padding:33px 95px 0 38px; font-size:24px; line-height:29px; letter-spacing:0; font-weight:bold}
.projects-item-link {position:absolute; right:0; top:25px; width:70px; height:70px; border:1px solid #000; border-radius:50%; transition:border-color 0.2s, background-color 0.2s}
.projects-item-link svg {display:block; width:24px; height:24px; position:absolute; left:50%; top:50%; margin:-12px 0 0 -12px; fill:none; stroke:#000; transition:stroke 0.2s}
@media (min-width:768px) {
    .projects-item a:hover .projects-item-link {border-color:#6669ab; background-color:#6669ab}
    .projects-item a:hover .projects-item-link svg {stroke:#fff}
}

.project-info {margin:0 calc(1130px / 2 - 100vw / 2) 0 0}
.project-info::after {content:""; display:block; clear:both}
.project-info-text {float:left; width:260px; font-weight:bold; font-size:18px; line-height:23px; margin:-5px 0 0 0}
.project-info-type {padding:0 0 0 63px; position:relative}
.project-info-type::before {content:""; display:block; width:25px; height:28px; background:url(../images/li.svg) no-repeat; background-size:100%; position:absolute; left:0; top:-2px}
.project-info-title {padding:0 0 0 63px; position:relative; margin:25px 0 0 0}
.project-info-title::before {content:""; display:block; width:25px; height:28px; background:url(../images/li-border.svg) no-repeat; background-size:100%; position:absolute; left:0; top:-2px}
.project-info-photo {margin:0 0 0 290px; line-height:0}
.project-info-photo img {display:block; width:100%}

.project-gallery {margin:128px 0 0 0}
.project-gallery h2 {margin:0}
.project-gallery-list {margin:14px -15px 0 -15px; font-size:0; line-height:0; letter-spacing:-1px}
.project-gallery-item {display:inline-block; vertical-align:top; width:50%; padding:30px 15px 0 15px; position:relative}
.project-gallery-item:nth-child(even) {top:55px}
.project-gallery-item a {display:block}
.project-gallery-item img {display:block; width:100%}

.project-line {margin:144px 0 0 0}
.project-line h2 {margin:0}

.project-line .lines-item {direction:ltr}
.project-line .lines-item .lines-item-preview-bg {left:auto; right:0}
.project-line .lines-item .lines-item-preview-img {margin:0 -63px 0 0}
.project-line .lines-item .lines-item-preview-img img {float:right}
.project-line .lines-item .lines-item-content {padding:0 0 0 95px}

.project-content {margin:116px 0 0 0}
.project-content h2 {margin:0}
.project-content-list {margin:45px -15px 0 -15px; font-size:0; line-height:0; letter-spacing:-1px; white-space:nowrap; position:relative; overflow:hidden}
.project-content-list.slick-initialized {overflow:visible}
.project-content-list .slick-list {overflow:visible}
.project-content-item {display:inline-block; vertical-align:top; width:25%; padding:0 15px; white-space:normal}
.project-content-item-photo {height:300px; border-top:1px solid #ededed; border-bottom:1px solid #000; text-align:center; padding:39px 0; line-height:220px}
.project-content-item-photo img {display:inline-block; vertical-align:bottom; max-height:220px}
.project-content-item-title {margin:25px 0 0 0; font-weight:bold; font-size:20px; line-height:24px; letter-spacing:-0.02em}
.project-content-item-text {margin:12px 0 0 0; font-weight:bold; font-size:14px; line-height:17px; letter-spacing:0}
.project-content-list .slick-prev,
.project-content-list .slick-next {display:block; position:absolute; z-index:2; top:-115px; width:94px; height:94px; border:none; border-radius:0; margin:0; padding:15px; outline:none; -webkit-appearance:none; cursor:pointer; background:none}
.project-content-list .slick-prev {right:79px}
.project-content-list .slick-next {right:-15px}
.project-content-list .slick-prev svg,
.project-content-list .slick-next svg {display:block; width:64px; height:64px; fill:none; stroke:#000; transition:stroke 0.2s}
@media (min-width:768px) {
    .project-content-list .slick-prev:hover svg,
    .project-content-list .slick-next:hover svg {stroke:#6669ab}
}

.about-main {margin:-86px calc(1130px / 2 - 100vw / 2) 0 290px; line-height:0; position:relative}
.about-main img {display:block; width:100%}

.axyforma-about {margin:0}
.axyforma-about .axyforma-clients {border-top:none; margin:0}
.axyforma-about .slick-prev {top:-53px}
.axyforma-about .slick-next {top:-53px}

.about-brand-photo {line-height:0; position:relative}
.about-brand-photo img {display:block; width:100%}
.about-brand-title {position:relative; margin:-180px 0 0 0; width:730px; background:#fff; padding:62px 0 54px 0; font-weight:bold; font-size:60px; line-height:54px; letter-spacing:-0.02em}
.about-brand-anonce {width:730px; padding:0 100px 0 0; background:#fff; margin:-10px 0 0 0; position:relative; font:300 italic 50px/50px RoyalTheatreSans, sans-serif; color:#121212}
.about-brand .line-text {margin:52px 0 0 0}

.about-services {margin:123px 0 147px 0}
.about-services h2 {margin:0}
.about-services-list {margin:11px -15px 0 -15px; font-size:0; line-height:0; letter-spacing:-1px; white-space:nowrap; position:relative; overflow:hidden}
.about-services-list.slick-initialized {overflow:visible}
.about-services-item {display:inline-block; vertical-align:top; width:25%; padding:0 15px; white-space:normal}
.about-services-item-photo {height:292px; text-align:center; line-height:292px}
.about-services-item-photo-inner {display:inline-block; vertical-align:middle; position:relative; width:224px; height:224px}
.about-services-item-photo-1-bg {position:absolute; left:0; top:0; width:224px; height:224px; background:url(../images/about-services-1.svg) no-repeat}
.about-services-item-photo-1-photo {position:absolute; left:0; top:0; width:224px; height:224px; background:url(../images/about-services-1.png) no-repeat}
.about-services-item-photo-2-bg {position:absolute; left:-52px; top:-43px; width:319px; height:308px; background:url(../images/about-services-2.svg) no-repeat}
.about-services-item-photo-2-photo {position:absolute; left:2px; top:-55px; width:272px; height:288px; background:url(../images/about-services-2.png) no-repeat}
.about-services-item-photo-3-bg {position:absolute; left:0; top:0; width:224px; height:224px; background:url(../images/about-services-3.svg) no-repeat}
.about-services-item-photo-3-photo {position:absolute; left:0; top:0; width:284px; height:224px; background:url(../images/about-services-3.png) no-repeat}
.about-services-item-photo-4-bg {position:absolute; left:-3px; top:-10px; width:257px; height:244px; background:url(../images/about-services-4.svg) no-repeat}
.about-services-item-photo-4-photo {position:absolute; left:25px; top:8px; width:144px; height:199px; background:url(../images/about-services-4.png) no-repeat}
.about-services-item-title {font-weight:bold; font-size:22px; line-height:26px; letter-spacing:-0.02em}
.about-services-list .slick-prev,
.about-services-list .slick-next {display:block; position:absolute; z-index:2; top:-94px; width:94px; height:94px; border:none; border-radius:0; margin:0; padding:15px; outline:none; -webkit-appearance:none; cursor:pointer; background:none}
.about-services-list .slick-prev {right:79px}
.about-services-list .slick-next {right:-15px}
.about-services-list .slick-prev svg,
.about-services-list .slick-next svg {display:block; width:64px; height:64px; fill:none; stroke:#000; transition:stroke 0.2s}
@media (min-width:768px) {
    .about-services-list .slick-prev:hover svg,
    .about-services-list .slick-next:hover svg {stroke:#6669ab}
}

.about-production {margin:147px 0 196px 0}

.dealers {margin:-30px 0 -100px 0; font-size:0; line-height:0; letter-spacing:-1px}
.dealers-item {display:inline-block; vertical-align:top; width:20%; padding:0 0 100px 0}
.dealers-item a {display:block; text-decoration:none}
.dealers-item-logo {padding:100% 0 0 0; border:1px solid #000; position:relative; background:#fff}
.dealers-item-logo img {display:block; max-width:90%; max-height:90%; position:absolute; left:50%; top:50%; transform:translate(-50%, -50%)}
.dealers-item:nth-child(even) .dealers-item-logo {border-radius:50%}
.dealers-item-title {padding:26px 0 0 0; font-weight:bold; font-size:20px; line-height:22px; letter-spacing:-0.02em}

.feedback {background:#e8e9ff; margin:100px 0 0 0; position:relative; overflow:hidden}
.feedback-element {position:absolute; left:50%; top:34px; margin-left:-670px}
.feedback-element svg {display:block; width:507px; height:581px; fill:#fff}
.feedback-container {padding:154px 0 151px 185px; position:relative}
.feedback-title {font-weight:bold; font-size:60px; line-height:54px; letter-spacing:-0.02em}
.feedback-container form {margin:-4px 0 0 0; padding:0}
.feedback-form-row {margin:64px -15px 0 -15px}
.feedback-form-row::after {content:""; display:block; clear:both}
.feedback-form-row .form-input {margin:0}
.feedback-form-field {float:left; width:30%; padding:0 15px}
.feedback-form-field:last-child {width:40%}
.feedback-form-ctrl {margin:30px -15px 0 -15px}
.feedback-form-ctrl::after {content:""; display:block; clear:both}
.feedback-form-policy {float:right; margin:11px 0 0 0; width:70%; padding:0 15px; font-size:14px; line-height:21px; font-weight:normal}
.feedback-form-policy-inner {max-width:355px}
.feedback-form-submit {float:left; width:30%; padding:0 15px}
.feedback-form-submit .btn {display:block; padding:0; width:100%}

.feedback-inner .feedback-element {margin-left:205px}
.feedback-inner .feedback-container {padding:154px 195px 151px 0}

footer {background:#000; margin:100px 0 0 0; color:#fff}
.feedback+footer {margin:0}
.footer-contacts {margin:0 -15px; padding:111px 0 125px 0}
.footer-contacts::after {content:""; display:block; clear:both}
.footer-contacts-item {float:left; width:33.33%; padding:0 15px}
.footer-contacts-title {font-size:50px; line-height:45px; font-weight:bold; color:#fff; letter-spacing:-0.02em}
.footer-contacts-title svg {display:inline-block; vertical-align:top; width:35px; height:40px; fill:#6669ab; margin:-9px 0 0 7px}
.footer-contacts-address {margin:38px 0 0 0; font-size:18px; line-height:27px; font-weight:normal}
.footer-contacts-email {margin:17px 0 0 0; font-size:18px; line-height:18px; font-weight:normal; color:#6669ab}
.footer-contacts-email a {color:#6669ab; text-decoration:none}
@media (min-width:768px) {
    .footer-contacts-email a:hover {color:#fff}
}
.footer-contacts-phone {margin:24px 0 0 0; font-size:18px; line-height:18px; font-weight:900; color:#fff}
.footer-contacts-phone a {color:#fff; text-decoration:none}
@media (min-width:768px) {
    .footer-contacts-phone a:hover {color:#6669ab}
}

.footer-container {margin:0 -999px; padding:0 999px; border-top:1px solid rgba(255, 255, 255, 0.1); border-bottom:1px solid rgba(255, 255, 255, 0.1)}
.footer-content {position:relative; margin:0 -15px}
.footer-content::before {content:""; display:block; position:absolute; left:33%; margin-left:-79px; top:0; bottom:0; width:1px; background:rgba(255, 255, 255, 0.1)}
.footer-content::after {content:""; display:block; clear:both}
.footer-info {float:left; width:33.33%; padding:83px 15px}
.footer-info-inner {max-width:232px}
.footer-logo svg {display:block; width:190px; height:33px}
.footer-copyrights {margin:37px 0 0 0; font-size:16px; line-height:24px; color:#515151; font-weight:normal}
.footer-copyrights p {margin:15px 0 0 0; padding:0}
.footer-menu {float:left; width:66.66%; padding:85px 0 113px 0; position:relative}
.footer-menu-col {float:left; width:50%; padding:0 15px}
.footer-menu-title {font-size:16px; line-height:19px; color:#515151}
.footer-menu-content {margin:5px 0 0 0; font-size:20px; line-height:26px; font-weight:bold; color:#fff}
.footer-menu-content a {color:#fff; text-decoration:none}
@media (min-width:768px) {
    .footer-menu-content a:hover {color:#6669ab}
}
.footer-menu-content ul {margin:0; padding:0; list-style:none}
.footer-menu-content ul li {margin:0; padding:15px 0 0 0}
.footer-menu-content ul li::before {display:none}
.footer-menu-lines {column-count:2}
.footer-menu-lines ul li {break-inside:avoid}

.footer-bottom {position:relative; margin:0 -15px}
.footer-bottom::before {content:""; display:block; position:absolute; left:33%; margin-left:-79px; top:0; bottom:0; width:1px; background:rgba(255, 255, 255, 0.1)}
.footer-bottom::after {content:""; display:block; clear:both}
.footer-developer {float:left; width:33.33%; padding:33px 15px 29px 15px}
.footer-developer a {display:inline-block; padding:0 0 0 63px; position:relative; font-size:16px; line-height:19px; font-weight:normal; color:#515151; text-decoration:none}
.footer-developer a svg {display:block; position:absolute; left:0; top:6px; width:49px; height:30px; fill:#515151; transition:fill 0.2s}
@media (min-width:768px) {
    .footer-developer a:hover {color:#6669ab}
    .footer-developer a:hover svg {fill:#6669ab}
}
.footer-social {float:left; width:66.66%; padding:28px 14px 27px 14px; font-weight:bold; font-size:30px; line-height:45px}
.footer-social a {color:#6669ab; text-decoration:none}
.footer-social svg {display:inline-block; vertical-align:middle; margin:-6px 11px 0 11px; fill:#6669ab; transition:fill 0.2s}
@media (min-width:768px) {
    .footer-social a:hover {color:#fff}
    .footer-social a:hover svg {fill:#fff}
}
.footer-social-item {float:left}
.footer-social-item+.footer-social-item {margin:0 0 0 18px; padding:0 0 0 84px; position:relative}
.footer-social-item+.footer-social-item::before {content:""; display:block; position:absolute; left:0; top:50%; width:65px; height:1px; background:#6669ab}